body {
  background-color: #fbe590;
}

/* One of the way to center align a div (Both vertically and Horizontally) */
/* Here top and left values depends on the dimensions of div to be centered  */
  /* position: absolute;
  top: 25%;
  left: 40%; */

/* Another way to make dive center aligned is using FLEXBOX */
/* Add following code to the parent */
  /* display: flex;
  justify-content: center;
  align-items: center; */

.center-contents {
  /* Center align the child content both Horizontaly and Vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-below {
  height: 400px;
  width: 400px;
  background-color: #f7bd1a;
  border-radius: 50%;
}

.face {
  height: 380px;
  width: 380px;
  background-color: #fad467;
  border-radius: 50%;
}

.upper-face {
  height: 190px;
  width: 380px;
  display: flex;
  padding-top: 30px;
}

.lower-face {
  height: 190px;
  width: 380px;
}

.eye-left {
  background-color: #281e4b;
  height: 42px;
  width: 30px;
  border-radius: 50%;
  margin-right: 30px;
}

.eye-right {
  background-color: #281e4b;
  height: 42px;
  width: 30px;
  border-radius: 50%;
  margin-left: 30px;
}

.eye-ball {
  background-color: #fad467;
  height: 14px;
  width: 8px;
  border-radius: 50%;
  /* TODO fix positioning of eyes */
  position: relative;
  top: 8px;
  left: 2px;
  z-index: 2px;
}
.mouth {
  background-color: #281e4b;
  height: 110px;
  width: 220px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  margin: 0 auto;
}
.tongue {
  background-color: #df5b65;
  height: 48px;
  width: 100px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  margin: 0 auto;
  position: relative;
  top: 40px;
}
